.container{
  margin: 20px;
}

.gridRoot{
  overflow-y: scroll;
}

.stickyHeader{
  position: sticky;
  top: 0;
}
.chatbox {
  display: flex;
  flex-direction: column;
}

.chatWindow {
  overflow-y: scroll;
  position: absolute;
  padding: 10px 0px;
  top: 0;
  bottom: 150px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.inputField {
  width: 100%;
  padding: 20px 45px 20px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 20px;
}

.sendButton {
  position: absolute; 
  right: 10px;
  top: 50%; 
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.messages {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
  margin: 5px;
  font-size: 18px;
}

.feather{
  padding-left: 5px;
}

.css-1m9128y {
  z-index: 1;
  position: absolute;
  bottom: 25px;
}

.defaultview{
  display: flex;
  gap: 6px;
  height: 220px;
  margin-top: 50%;
}

.loading{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}